<div class="my-3">

    <h3>Add A Todo</h3>
    <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="title" class="form-label">Todo Tiltle</label>
        <input type="text" class="form-control" [(ngModel)]="title" id="title" name="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" [(ngModel)]="desc" id="desc" name="desc">
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary">Add To-do</button>
  </form>
</div>